<%= form_for @contract do |f| %>
    <% if @contract.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>
            <ul>
                <% @contract.errors.full_messages.each do |message| %>
                   <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.hidden_field :state, value: 0 %>
    <div class="form-group col-md-13">
        <%= f.label :value, 'Tiempo:' %>
        <%= f.text_field :value, class: 'form-control',placeholder: 'Valor a pagar', required:true%>
    </div>

    <div class="form-group col-md-13">
        <%= f.label :comments, 'Comentarios adicionales:' %>
        <%= f.text_area :comments, class: 'form-control', placeholder: 'Comentarios adicionales', required:true%>
    </div>

    <div class="form-group col-md-13">
        <%= f.submit "enviar" , class: 'btn btn-lg btn-primary btn-block'%>
    </div>

<% end %>
