
<ul class="nav nav-tabs card-header-tabs">

	<li class="nav-item">
		<a class="nav-link <%= locals[:variable1] %>" href="/frame/inicio">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable2] %>" href="/frame/agregarOferta">Agregar Oferta</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable3] %>" href="/frame/categorias">Categorias</a>
	</li>		
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable4] %>" href="/frame/verOfertas?cate=0">Ofertas</a>
	</li>		     
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable5] %>" href="/frame/verMisOfertas">Mis ofertas</a>
	</li>	           
</ul>

<div class="btn-group">
  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-handshake-o" aria-hidden="true"></i>
    <span class="badge badge-dark">
      <%=Contract.where(user_id: current_user.id).count + Contract.where(id: @contract_o).count%>
   	</span></button>
  <div class="dropdown-menu" style="right: 0; left: auto;">
    <% if (@user_cliente != nil or @user_ofertante != nil) and Contract.exists? %>
        <ul>
          Mías
          <% @user_ofertante.each do |contract| %>
            <% @offer_c.each do |offer| %>
              <%if contract.offer_id == offer.id %>
                  <div class="dropdown-divider">Mías</div>
                      <a class="dropdown-item" href="#notificacion" data-toggle="modal">
                        <strong>Oferta: </strong><%=offer.name%>
                        <p><strong>Usuario: </strong><%= User.where(id: Contract.user_id).first.firstName%> </p>
                      </a>
                  <%end%>
              <%end%>
          <%end%>
        </ul>
        <ul>
          Solicitadas
          <% @user_cliente.each do |contract| %>
            <% @oferta_completa.each do |offer| %>
              <% if contract.offer_id == offer %>
                  <div class="dropdown-divider">Solicitadas</div>
                  <a class="dropdown-item" href="#notificacion" data-toggle="modal">
                    <strong>Oferta: </strong><%=offer.name%>
                    <p><strong>Usuario: </strong><%= User.where(id: @oferta_usuario).first.firstName%> </p>
                  </a>
               <%end%>
             <%end%>
          <%end%>
        </ul>
    <%end%>
  </div>

<div class="btn-group">
	<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-users "  aria-hidden="true"></i>
    <span class="badge badge-dark"> <%=Request.where(user_id: current_user.id).count%>
   	</span></button>
  	<div class="dropdown-menu" style="right: 0; left: auto;"> 
  		<% if @userRequest != nil and Request.exists? and @ver_oferta_todas2 != nil and Offer.exists?%> 
			<% @userRequest.each do |userq| %>
				<% @ver_oferta_todas2.each do |offer| %> 
					<% if userq.offer_id == offer.id %>											
						<div class="dropdown-divider"></div>	
						<% @nom_notif = User.where(id: userq.idDemandante).first.firstName%>
						<% @ofer_notif = offer.name%>
						<% @id_notif = userq%>
						<a class="dropdown-item" href="#notificacion" data-toggle="modal">
							<strong>Oferta: </strong><%=offer.name%>
							<p><strong>Usuario: </strong><%= User.where(id: userq.idDemandante).first.firstName%> </p>						
						</a> 
					<% end %>
				<% end %>	
			<% end %>		 
		<% end %> 
	</div>


	<div class="dropdown">
		<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span></button>
		<ul class="dropdown-menu" style="right: 0; left: auto;">
			<%= link_to 'Modificar Cuenta', edit_user_registration_path, :class => "btn btn-outline-secundary" %>
			<%= link_to 'Transacciones', href="/frame/historial", :class => "btn btn-outline-secundary" %>
			<%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => "btn btn-outline-secundary" %>
		</ul>
	</div> 
</div> 





<!-- Modal -->
<div class="modal fade" id="notificacion" data-target="#notificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Solicitud</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
		        </button>
			</div>


			<div class="modal-body">
				<%=@nom_notif%> desea solicitar el servicio "<%=@ofer_notif%>"
			</div>
			<div class="modal-footer">
        <%=link_to "Aceptar", { :controller => "contracts", :action => "create"}, :class => "btn btn-outline-primary float-right" %>
			    <% if @id_notif != nil %>
			    	<%= button_to "Rechazar", @id_notif, :method => :delete, :class=>"btn btn-outline-primary float-right"%>    		
			  	<% end %>	
			    <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Posponer</button>
			</div>


		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="acep_notificacion" data-target="#acep_notificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Has aceptado la solicitud de <%=@nom_notif%></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body">
				 Se procedera a la aceptacion de terminos del contrato
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Cerrar</button>					   
		</div>
	</div>
</div>