<div class="container-fluid">
  <%=render 'layouts/header'%>
<div class="row container-fluid">
  <%=render 'layouts/basicInfo'%>
  <div class="col container-fluid card">
	    <div class="container card-header">	  	
		  	<nav class="navbar navbar-light bg-faded">
		  		<%=render 'layouts/pestanasPrincipales', locals: {variable4: "active"}%>	   
			</nav>	 
	    </div>

	  <div class="container card-body">
	 	
	 	<% if @cate != "0" %>		 	 		
			  	<% @ver_oferta_categoria.each do |offer| %>		 			
			 			<ul class="list-unstyled">
						  <li class="media">
						    <img width="250" height="280" class="d-flex mr-3" src=<%= offer.picture %> alt="Generic placeholder image">
						    <div class="media-body">
						      <h2 class="mt-0 mb-1"><%= offer.name %></h2>			      
						       <h4 class="mt-0 mb-1">Descripcion de la oferta:</h4>	      
						      <%= offer.description %>
						    </div>
						  </li>
						</ul>			  				  				
				<% end %>
		<% else %>
				<% @ver_oferta_todas.each do |offer| %> 		 			
			 			<ul class="list-unstyled">
						  <li class="media">
						    <img width="250" height="280" class="d-flex mr-3" src=<%= offer.picture %> alt="Generic placeholder image">
						    <div class="media-body">
						      <h2 class="mt-0 mb-1"><%= offer.name %></h2>			      
						       <h4 class="mt-0 mb-1">Descripcion de la oferta:</h4>	      
						      <%= offer.description %>
						      <div> 
						        <%= link_to 'Solicitar', edit_user_registration_path, :class => "btn btn-outline-primary float-right" %>
						      </div>
						    </div>
						  </li>
						</ul>			  				  				
				<% end %>
		<% end %>

	  </div>	

	</div>
	</div>

</div>

