<%= form_for @offer do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">
    <%= f.label :name, 'Título:' %>
    <%= f.text_field :name, class: 'form-control',placeholder: 'Título de la oferta', required:true%>
  </div>

  <div class="form-group col-md-8">
  <%= f.label 'category_id', 'Categoría:', required: true %>
  <%# TODO: too complex %>
  <%= f.select 'category_id',
                Category.all
                        .sort_by { |a| a.name.downcase }
                        .map { |cat| [cat.name, cat.id] },
                { include_blank: true },
                class: "form-control" %>
  </div>
 
  <div class="form-group col-md-8">
    <%= f.label :description, 'Descripción:' %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Descripción de la oferta', required:true%>
  </div>

  <div class="form-group col-md-8">
        <%= f.label :photoOffer, 'Imagen oferta'%><br />
        <%if locals[:variable] == 'Cambiar' %>
          <%= f.file_field :picture%>
        <%else%>
          <%= f.file_field :picture, required:true%>
        <%end%>
  </div>

  <div class="form-group col-md-8">
     <% if !current_user.verified %>
        <%= render 'frame/oferta' %>
     <%else%>
        <%= f.submit locals[:variable] , class: 'btn btn-lg btn-primary btn-block'%>
     <%end%>
  </div>

<% end %>
