
 <ul class="nav nav-tabs card-header-tabs">
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable1] %>" href="/frame/inicio">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable2] %>" href="/frame/agregarOferta">Agregar Oferta</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable3] %>" href="/frame/categorias">Categorias</a>
	</li>		
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable4] %>" href="/frame/verOfertas?cate=0">Ofertas</a>
	</li>		     
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable5] %>" href="/frame/verDetallesOferta">Perfil</a>
	</li>	 
	<li class="nav-item">
		<a class="nav-link <%= locals[:variable6] %>" href="/frame/historial">Transacciones</a>
	</li>	           
</ul>
			  

<div class="btn-group">
  <button type="button" class="btn btn-outline-primary dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notificaciones  <span class="badge badge-dark"> 4 </span></button>
  <div class="dropdown-menu">
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>